<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="petefield" value="https://nuget.pkg.github.com/petefield/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <petefield>
      <add key="Username" value="petefield" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </petefield>
  </packageSourceCredentials>
</configuration>
